* {
  margin: 0;
  padding: 0;
  font-family: "Helvetica Neue", "PingFang SC", Helvetica, Arial, "Hiragino Sans GB", "Microsoft Yahei", \\5FAE\8F6F\96C5\9ED1, STHeiti, \\534E\6587\7EC6\9ED1, sans-serif;
  font-size: 14px;
  box-sizing: border-box;
  outline: none;
}

html, body {
  width: 100%;
  height: 100%;
}

ul li, ol li {
  list-style: none;
}

.wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  /* overflow: hidden; */
  /* min-width: 960px;
  min-height: 540px; */
}

.performance {
  height: 40px;
  padding: 10px;
  background: #fff;
}

.performance #performance-message li {
  display: inline-block;
  margin-right: 20px;
}

.video {
  position: relative;
  flex: 1;
  background: rgb(61, 57, 80);
  /* border-bottom: 10px solid #f00; */
}

.video .cont {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.video .cont .cam {
  position: relative;
  overflow: hidden;
  /* width: 500px;
  height: 244px; */
}

.cam .logo1 {
  position: absolute;
  width: 100%;
  z-index: 3;
}

.cam .logo2 {
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 20%;
  transform: translateX(-50%);
  z-index: 3;
}

.cam .layer, .cam .canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* overflow: hidden; */
}

.cam #video-1 {
  width: 100%;
}

/* #canvas-1 {
  border: 1px solid #f00;
} */

/* #canvas-2 {
  border: 1px solid #f00;
} */

.cam .info-panel-1 {
  z-index: 2;
}

.cam .info-panel-2 {
  z-index: 3;
}

/* .layer-W {
  height: 100%;
}

.layer-H {
  width: 100%;
} */

#message {
  z-index: 5;
  position: absolute;
  right: 0;
  top: 0;
  display: none;
  width: 350px;
  height: 100%;
  padding: 20px;
  background: #eee;
}

#message-t {
  font-size: 18px;
  font-weight: 500;
}

#message li {
  margin-top: 20px;
}

#message li label {
  font-size: 16px;
}

.subtitle {
  width: 100%;
  text-align: center;
}

input[type='checkbox'] {
  width: 25px;
  height: 22px;
  margin-right: 10px;
  -webkit-appearance: none;
  background: #fff url('../assets/images/noselect.png');
  background-size: 25px 22px;
  vertical-align: middle;
  cursor: pointer;
}

input[disabled='true'] {
  background: #fff url('../assets/images/disabled.png');
  background-size: 25px 22px;
  cursor: no-drop;
}

input[type='checkbox']:checked {
  background: #fff url('../assets/images/checked.png');
  /* */
  background-size: 25px 22px;
}

.message-change {
  position: absolute;
  bottom: 10px;
  right: 10px;
  height: 20px;
  cursor: pointer;
}

.message-change img {
  width: 20px;
}

.message-h {
  display: block;
}

.message-v {
  display: none;
}

.alert {
  position: absolute;
  top: 0;
  z-index: 1;
  padding: 10px 30px;
  background: #fff;
  color: #333;
  box-shadow: 0px 0px 10px 0px #444;
  border-radius: 5px;
  text-align: center;
  transform: translateY(-100%);
  box-sizing: border-box;
  /* opacity: 0;
  animation: 5s alert-show; */
}

.alert img {
  margin-right: 10px;
}

.alert p.img {
  display: flex;
  justify-content: center;
  align-items: start;
  margin-bottom: 10px;
}

.attribute-panel {
  position: absolute;
  top: 0;
  z-index: 1;
  padding: 0 12px;
  /* width: 120px; */
  font-size: 14px;
  line-height: 36px;
  color: white;
  box-sizing: border-box;
}

.large {
  padding: 0 15px;
  /* width: 140px; */
  font-size: 20px;
  line-height: 48px;
}

.small {
  /* width: 90px; */
  height: 40px;
  line-height: 40px;
}

.attribute-panel ol {
  padding: 0 10px;
  background: rgba(29, 35, 58, 0.6);
}

.attribute-panel ol li {
  white-space: nowrap;
  text-align: center;
  border-bottom: 1px solid rgba(0, 208, 187, 0.4);
}

.attribute-panel ol li:nth-last-of-type(1) {
  border-bottom: 0;
}

.attribute-panel ol li span.gesture {
  font-size: 40px;
}